html, body {
    position: fixed;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#ctrl-host {
    border: 1px solid coral;
}
#btn-start {
    background-color: green;
    color: white;
    width: 60px; 
    height: 30px;
    border-radius: 30px;
    display: block;
    }
#btn-end {
    background-color: red; 
    color: white; 
    width: 60px; 
    height: 30px; 
    border-radius: 30px; 
    display: block;
}



.host {
    display: block;
    height: 350px;
    width: 400px;
    position: fixed;
    top: 80px;
}
.video-host {
    display: block;
    height: 300px;
    width: 400px;
    position: fixed;
    top: 160px;
}
.att {
    display: block;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0px;
}
.video-att {
    display: block;
    width: 400px;
    height: 300px;
    position: fixed;
    top: 0px;
    left: 20px;
}
.ctrl-att {
    display : flex;
    flex: flex;
    justify-content: space-between;
    position: fixed;
    top: 380px;
    left: 40px;
    height: 40px;
    width: 140px;
    padding-left: 180px;
    padding-top: 10px;
}
.icons {
    display: none;
    height: 50px;
    width: 50px;
    position: relative;
}
#btn-join {
    background-color: blue;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    display: none;
    }

#btn-leave {
    background-color: red;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    display: none;
    }